alias ..='cd ..'
alias ..-='cd -'
alias lsa='ls -a'
alias lsl='ls -la'

function fuckaliases(){
    i=3
    while [ $i -le 5 ]; do
        effsforfucks=$(eval printf "f%0.s" {1..$i})
        alias "$effsforfucks"="fuck"
        i=`expr $i + 1`
    done
}
fuckaliases

# Boring
alias resetbash='source ~/.bash_profile'

# Dropbox
alias dr='cd ${HOME}/Dropbox'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias iplocal="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show/hide hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"


# Wordpress persmission
alias wpperm="sudo chown -R _www . ; sudo chmod -R g+w ."
