# Load rbenv and set gem paths
if which rbenv > /dev/null && which brew > /dev/null; then
	export RBENV_ROOT="$(brew --prefix rbenv)"
fi

# Homebrew Casks app directory
if which brew > /dev/null; then
	export HOMEBREW_CASK_OPTS="--appdir=/Applications"
fi

# Bash completions
if which brew > /dev/null && [ -f $(brew --prefix)/etc/bash_completion ]; then
. $(brew --prefix)/etc/bash_completion
fi

# Enable rbenv shims and autocompletion.
if which rbenv > /dev/null; then
	eval "$(rbenv init -)"
fi

# Editor
if which subl > /dev/null; then
	export EDITOR="${HOME}/.bin/subl"
fi

# Shut up macOS
export BASH_SILENCE_DEPRECATION_WARNING=1

eval $(thefuck --alias)