# Create a new directory and enter it
function mkcd(){ test -e $1 || mkdir $1; cd $1; }

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}

chrome() { open /Applications/Google\ Chrome.app $@; }

# cd to wp-content/themes dir
wptheme(){

	if [ -d wp-content/themes/$1 ]; then
		cd wp-content/themes/$1/$2
	else
		cd wp-content/themes/
	fi;
}

_wpthemeComplete ()
{
    local cur=${COMP_WORDS[COMP_CWORD]}
    COMPREPLY=( $(compgen -W "$(find $PWD -type d -maxdepth 2 -name "themes" -execdir ls {} \;)" -- $cur) )
}

complete -F _wpthemeComplete wptheme
